.pic-left{
  width:50%;
  float:left;
}
.input{
  width:70%;
  padding-left:25%;
}
strong{
  color: #FFFFFF;
background: none;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
.height{
  margin-bottom:20px;
}
#h2
   {
   text-align:center;
     color: #202c2d;
background: none;
text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
   }
.def{
  text-align:center;
  text-decoration:underline;

color: black;
background: none;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.button{
  color:white;
  background-color:orange;
  padding:10px 20px 10px 20px;
  border-radius:10px;
  text-decoration:none;
}
.container{
  padding-left:5%;
  display:inline-block;
}
.text{
  color:orange;
  font-size:none;
}
body{
  width:100vh;
  height:100vh;
}