.button{
  color:black;
  padding:10px 15px 10px 15px;
  border:1px solid white;
  border-radius:3px;
  text-decoration:none;
}
.home{
  margin-right:10px;
  
}
.sic{
  text-align:center;
  margin-top:50px;
  font-weight:bold;
}
.h1{
  text-align:center;
  margin-top:70px;
}
.h2{
  color:white;
  font-family: 'Rampart One', cursive;
}
#nav-bar{
  height:100%;
  margin-left:100px;
  
 
  
}
nav ul li{
  list-style:none;
  display:inline;
 
}
nav ul li a{
  margin-left:50px;
  text-decoration:none;
  color:pink;
  font-weight:bold;
}
